<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.secuxtech.mysecuxpay">
    <!-- <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" /> -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="LockedOrientationActivity">
        <activity android:name=".Activity.RefillActivity"></activity>
        <activity android:name=".Activity.RefundActivity" />
        <activity android:name=".Activity.ReceiveActivity" />
        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.UserInfoActivity" />
        </activity>
        <activity
            android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ReceiptActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.PaymentMainActivity" />
        </activity>
        <activity
            android:name=".Activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PaymentMainActivity"
            android:screenOrientation="portrait">

            <!-- NFC Intents -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="pmsweb.secuxtech.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ScanQRCodeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.PaymentMainActivity" />
        </activity>
        <activity
            android:name=".Activity.TokenTransferDetailsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.PaymentHistoryActivity" />
        </activity>
        <activity
            android:name=".Activity.TokenTransHistoryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.CoinAccountListActivity" />
        </activity>
        <activity
            android:name=".Activity.CoinAccountListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PaymentHistoryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.PaymentMainActivity" />
        </activity>
        <activity
            android:name=".Activity.PaymentResultActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.PaymentMainActivity" />
        </activity>
        <activity
            android:name=".Activity.PaymentDetailsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.PaymentMainActivity" />
        </activity>
        <activity
            android:name=".Activity.RefundResultActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.PaymentMainActivity" />
        </activity>
        <activity
            android:name=".Activity.RefillResultActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.secuxtech.mysecuxpay.Activity.PaymentMainActivity" />
        </activity>
        <activity
            android:name=".Activity.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />



        <meta-data android:name="io.sentry.dsn" android:value="https://529f618369e14557b4e69b6f7e2094b3@o439784.ingest.sentry.io/5407245" />
    </application>

</manifest>